/* Write your CSS here */
.money-detail-ul {
  padding-left: 0;
  width: 100%;
}

.money-details-container {
  list-style-type: none;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.bg-balance {
  background-color: transparent;
  border: 1px solid #84cc16;
  border-radius: 10px;
}
.bg-income {
  background-color: transparent;
  border: 1px solid #06b6d4;
  border-radius: 10px;
}
.bg-expense {
  background-color: transparent;
  border: 1px solid #7c3aed;
  border-radius: 10px;
}
.type-img {
  width: 52px;
  height: 52px;
  margin-right: 24px;
}
